<div class="main-content">
    <div class="main-container-left">
        <div class="main-container-carrer">
            <label for="">Ingeniero en Sistemas Computacionales</label>
        </div>
        <div class="main-container-left-mision">
                <label for="">Mision</label>
                <p>Como ingeniero en Ti busco mejorar día a día, utilizando tecnología de vanguardia en solución de problemas aplicados en situaciones reales sociales y corporativos</p>
        </div>
        <div class="main-container-left-vision">
                <label for="">Vision</label>
                <p>
                    Desarrollar habilidades técnicas en metodologías agiles como SCRUM,aumentando la productividad ,mejorar habilidades de TypeScripe implementación de servicios Rest para consumo de Información
                </p>
        </div>
    </div>
    <div class="main-container-right">
        <div class="mensaje-container">
            <label for="">Habilidades Profecionales</label>
        </div>
        <div class="content-grath">
            <div class="javascript"><label>Javascript</label></div>
            <div class="css"><label for="">css</label></div>
            <div class="html"><label for="">HTML</label></div>
            <div class="php"><label for="">PHP</label></div>
            <div class="git"><label for="">GIT</label></div>
            <div class="bootstrap"><label for="">Bootstrap</label></div>
            <div class="sql"><label for="">SQL</label></div>
            <div class="cshare"><label for="">C#</label></div>
            <div class="java"><label for="">Java</label></div>
        </div>
    </div>            
</div>